body {
    background-color: #FFF4D2;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #E5D1FA;
    font-family: Ubuntu;
    font-size: 20px;
}

h1 {
    margin-bottom: 50px;
    font-family: lobster;
}